* {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Monofett', cursive; */
}

body {
    background-image: url("./images/turtles-background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
  }



/* hide the questions and ending pages by default*/
.question, #end-page {
    background-color: azure;
    display: none;
    width: 80%;
    height: 80%;
    border:3px solid blue;
    margin: 10px auto auto auto;
}

#start-page {
    background-color: azure;
    width: 80%;
    height: 80%;
    border: 3px dotted cyan;
    margin: 10px auto auto auto;
}

#start {
    background-color: darkred;
    color: white;
    border: 1px solid black;
    text-shadow: 2px 2px rgb(58, 0, 0);
}

#answers {
    justify-content: space-around;
}

#highscores {
    margin: 10px;
    background-color: rgb(182, 169, 97);
    border: 25px solid rgb(151, 151, 151);
    /* border-bottom: 20px; */
    border-radius: 8px;

    /* background-color: black; */
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
    color: rgb(0, 255, 0);
    height: 80vh;
    /* color: rgb(43, 43, 43); */
    overflow: auto;
    /* height: 100%; */
    width: 80%;
    text-shadow: 0 0 5px #C8C8C8;
    
}

#score-list {
  
    width: 100%;
    
    margin: 0 auto;
    margin-left: 15px;
}


.score-list {

    width: 85%;
    margin-left: 3px;
    margin-right: auto;
}

